.form{
    @include flex(space-between);
    border-radius: border-radius(8);
     overflow: hidden;
    position: relative;
    width: 100%;
    background-color: light-theme(gray-0);
    // margin: 20px 0;
    padding: 15px 10px 15px 40px;
    &__input{
        background: transparent;
        caret-color: $primary-clr1;
        font-family: inherit;
        border: 0;
      
        font-size: inherit;
        width: 100%;
        //  line-height: 1.5;
        padding: 2px 0;
        //  padding-top: 5px;
        //  padding-left: 10px;
         outline: 0;
        // background-color: orange   
        &::placeholder{
            // font-size: font-size();
            color: light-theme(gray-3);
            
        }
    }
    &__checkbox{
  
        @extend %checkbox;
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translate(-50%,-50%)
    }
    
}