*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 18px;
}

body{
    font-family: 'Josefin Sans' , sans-serif;
    font-size: font-size(base);
    line-height: line-height(base)
}

ul{
    list-style-type: none;
}

h1{
    font-size: font-size(xl);
    line-height: line-height(xl);
}

h2{
    font-size: font-size(l);
    line-height: line-height(l);  
}