*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 1rem;
}

body{
    background: light-theme(gray-0);
    font-family: 'Josefin Sans' , sans-serif;
    font-size: font-size(base);
    line-height: line-height(base)
}
img{
    max-width: 100%;
    width: 100%;
    object-fit: contain;
}
ul{
    list-style-type: none;
}

span{
    display: inline-block;
}

h1{
    font-size: font-size(xl);
    line-height: line-height(xl);
}

h2{
    font-size: font-size(l);
    line-height: line-height(l);  
}