@mixin flex($justify: center , $align: center , $direction: row){
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@mixin mg-auto(){
    margin-left: auto;
    margin-right: auto;
}


@mixin small-circle($width){
    width: #{$width}px;
height: #{$width}px;

    // padding-bottom: 100%;
    border-radius: border-radius(1000);
}



